{% extends "base.html" %}

{% block titulo %}
	Home
{% endblock titulo %}

{% block cuerpo %}
	{% include "navbar.html" %}
	<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-1">{{ consultorio.nombre }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{ consultorio.eslogan }}</h5>
        </div>
        <div class="row center">
          <a href="{% url 'clinico:registro' %}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Obtén una Cita</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{ consultorio.foto.url }}" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">work</i></h2>
            <h5 class="center">Misión</h5>

            <p class="light">
            	{{ consultorio.mision }}
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">visibility</i></h2>
            <h5 class="center">Visión</h5>

            <p class="light">
            	{{ consultorio.vision }}
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">contact_phone</i></h2>
            <h5 class="center">Contacto</h5>

            <p class="light">
            	<i class="material-icons">my_location</i> {{ consultorio.direccion }}
            </p>
            <p class="light">
            	<i class="material-icons">perm_phone_msg</i> {{ consultorio.telefono }}
            </p>
            <p class="light">
            	<i class="material-icons">email</i> {{ consultorio.correo }}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock cuerpo %}